<h1>Cities</h1>
{{#each cities}}
    <a href="/citydetails/{{this.id}}">
        <article>
            <label>
                Name:
                <span>{{this.name}}</span>
            </label>
            <label>
                Population:
                <span>{{this.population}}</span>
            </label>
        </article>
    </a>
{{/each}}